<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcx.mapper.OrderDetailMapper">
    <resultMap id="orderDetailResultMap" type="orderDetail">
        <result column="order_id" property="orderId"/>
        <result column="good_id" property="goodId"/>
    </resultMap>

    <insert id="addAll" parameterType="com.zcx.pojo.OrderDetail">
        INSERT INTO order_detail(id, name, image, order_id, good_id, number, amount) VALUES
        <foreach collection="orderDetails" item="orderDetail"  separator=",">
            (
             #{orderDetail.id},
             #{orderDetail.name},
             #{orderDetail.image},
             #{orderDetail.orderId},
             #{orderDetail.goodId},
             #{orderDetail.number},
             #{orderDetail.amount}
             )
        </foreach>
    </insert>
</mapper>